@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-courier: 'Courier Prime', monospace;
  --font-playfair: 'Playfair Display', serif;
}

body {
  font-family: var(--font-courier);
}

h1, h2, h3 {
  font-family: var(--font-playfair);
}
